<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todosave1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF9AEDB020E504CF003E83F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9AEDC720E504CF003E83F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9AEDD220E504CF003E83F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
